<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}LitRevu{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/scripts.js' %}" defer></script>
    </head>
    <body>
        <nav>
            {% if request.user.is_authenticated %}
                <a href="{% url 'Review:feed' %}">Flux</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'Review:my-posts' request.user.username %}">Mes posts</a>
            {% endif %}
            {% if not user.is_authenticated %}
                <a href="{% url 'UserCustom:user-register' %}" title='register'>S'inscrire</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'Tickets:create-ticket' %}">Créer un nouveau ticket</a>
                <a href="{% url 'UserFollow:profil' request.user.username %}">Mes abonnements</a>
            {% endif %}
            {% if not user.is_authenticated %}
                <a href="{% url 'UserCustom:user-login' %}">login</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <form class="logout" action = "{% url 'UserCustom:user-logout' %}" {% csrf_token %}>
                    <button class="logout-button" aria-label="User logout" title="User Logout">Se déconnecter</button>
                </form>
            {% endif %}
        </nav>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
