{% extends 'layout.html' %}
{% block title %}Ticket{% endblock %}
{% block content %}
    <section class="ticket-block">
        <h1 class="ticket-title">{{ ticket.title }}</h1>
        {% if ticket.image %}
            <div class="ticket-image">
            <img src="{{ ticket.image.url }}" alt="Image pour {{ ticket.title }}">
            </div>
        {% endif %}
        <div class="post-action-buttons">
            <a href="{% url 'Review:edit_posts' slug=ticket.slug %}" class="modify-btn">Modifier</a>
            <a href="{% url 'Review:delete_post' slug=ticket.slug %}" class="delete-btn">Supprimer</a>
        </div>
        <div>
            <p>{{ ticket.time_created }}</p>
            <p>{{ ticket.description }}</p>
        </div>
    </section>
{% endblock %}